                                
                    <div class="row">                        
                        <div class="col-md-6 col-md-offset-3">                            
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Cadastre o curso</h3>
                                        <p>Realize o cadastro</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                   <%= form_for @curso do |f| %> 
                                        <% if @curso.errors.any? %> 
                                        <div id="error_explanation"> 
                                            <div class="alert-error"> 
                                                O formulário contém <%= pluralize(@curso.errors.count, "erro") %>. 
                                            </div> 
                                            <ul> 
                                                <% @curso.errors.full_messages.each do |msg| %>                                              
                                                <li><%= msg %></li> 
                                                <% end %> 
                                            </ul> 
                                        </div>
                                        <% end %>
                                    <% end %>
                                    
                                    <%= form_for :curso, url: cursos_path do |f| %>
                                        <p>
                                            <%= f.label :nome %><br>
                                            <%= f.text_field :name %>
                                        </p>
                                        <p>
                                            <%= f.label :faculdade %><br>
                                            <%= f.text_field :faculdade %>
                                        </p>
                                        <p>
                                            <div class="actions"><%= f.submit "Cadastrar", class: 'btn'%></div>
                                        </p>
                                        <% end %>                           
                                </div>
                            </div>                            
                        </div>
                    </div>                    
