<!-- Top content -->
        <div class="top-content">           
            <div class="inner-bg">
                <div class="container">                 
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>avali@</strong></h1>                            
                        </div>
                    </div>                    
                    <div class="row">
                        <center>
                            <div class="col-md-6 col-md-offset-3">  
                                <div class="form-box">
                                    <div class="form-top">
                                        <div class="form-top-left">
                                            <h3>Faça seu login</h3>
                                            <p>Entre com Email e Senha:</p>
                                        </div>
                                        <div class="form-top-right">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>                                
                                    <div class="form-bottom">
                                        <%= form_for :user, url: users_path, class: 'login-form' do |f| %>
                                            <p>
                                                <%= f.label :email %><br>
                                                <%= f.text_field :email %>
                                            </p>
                                            <p>
                                                <%= f.label :password %><br>
                                                <%= f.password_field :password %>
                                            </p>
                                            <p>
                                                <div><%= f.submit "Entrar", class: 'btn' %></div>
                                            </p>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="new_user">
                                    <p>Novo usuario? <%= link_to "Cadastre-se agora!", new_user_path %></p>
                                </div>                         
                            </div>
                        </center>
                        </div>                    
                </div>
            </div>            
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">                   
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="footer-border"></div>
                        <p>Made by Pedro Neto</p>
                    </div>
                    
                </div>
            </div>
        </footer>