                    
                    <div class="row">
                        <center>
                            <div class="col-md-5 col-md-offset-3">  
                                <div class="form-box">
                                    <div class="form-top">
                                        <div class="form-top-left">
                                            <h3>Faça seu login</h3>
                                            <p>Entre com Email e Senha:</p>
                                        </div>
                                        <div class="form-top-right">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>                                
                                    <div class="form-bottom">
                                        <%= form_for :session, url: sign_in_path, class: 'login-form' do |f| %>
                                            <p>
                                                <%= f.label :email %><br>
                                                <%= f.text_field :email, autofocus: true %>
                                            </p>
                                            <p>
                                                <%= f.label :password %><br>
                                                <%= f.password_field :password, autocomplete: "off" %>
                                            </p>
                                            <p>
                                                <div class="actions"><%= f.submit "Entrar", class: 'btn' %></div> 
                                            </p>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="new_user">
                                    <p>Novo usuario? <%= link_to "Cadastre-se agora!", new_user_path %></p>
                                </div>                         
                            </div>
                        </center>
                    </div>                             
