<!-- Top content -->
        <div class="top-content">        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>avali@</strong></h1>
                            <div class="description">
                            	<p>
	                            	<strong>Esse site está em construção! </strong>
                            	</p>
                            </div> 
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-5">                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Faça seu login</h3>
	                            		<p>Entre com seu Email e sua Senha:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <%= form_for :user, url: users_path do |f| %>
				                    	<p>
				                    		<%= f.label :email %><br>
				                    		<%= f.text_field :email %>
				                    	</p>
				                    	<p>
				                    		<%= f.label :password %><br>
				                    		<%= f.text_field :password %>
				                    	</p>
				                    	<p>
				                    		<div class="btn"><%= f.submit %></div>
				                    	</p>
				                    <% end %>

			                    </div>
		                    </div>	
		                    <%= link_to 'Listar Usuários', new_user_path %>	                
		                	<div class="social-login">
	                        	<h3>...ou login com:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-2" href="#">
		                        		<i class="fa fa-facebook"></i> Facebook
		                        	</a>		                        	
	                        	</div>
	                        </div>	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Cadastro</h3>
	                            		<p>Realize o seu cadastro</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
				                    	<div class="form-group">
				                        	<input type="text" name="name" placeholder="Nome" class="form-first-name form-control" id="form-name">
				                        </div>
				                        <div class="form-group">
				                        	<input type="text" name="email" placeholder="Email" class="form-last-name form-control" id="form-email">
				                        </div>
				                        <div class="form-group">
				                        	<input type="text" name="age" placeholder="Idade" class="form-email form-control" id="form-age">
				                        </div>
                                        <div class="form-group">
                                            <input type="text" name="college" placeholder="Faculdade" class="form-email form-control" id="form-college">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="curso" placeholder="Curso" class="form-email form-control" id="form-curso">
                                        </div>
				                        <button type="submit" class="btn">Cadastre-se</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by Pedro Neto</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>